In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2 as pg
import os
import numpy as np
import time

DB_URL = "postgresql://overseer:password@localhost/renai"
# DB_URL = os.environ.get("DB_URL")
conn = pg.connect(DB_URL)

In [2]:
# prices
prices = pd.read_sql_query("""
SELECT * FROM q.stock_prices
""", con=conn)
prices['dated'] = pd.to_datetime(prices['dated'])
prices['log'] = np.log2(prices['adj_close'])
prices['pct'] = prices['adj_close'].pct_change() * 100
prices['volume_ma'] = prices['volume'].rolling(window=20).mean()
prices['50_ema'] = prices['adj_close'].ewm(span=50, adjust=False).mean()
prices['200_sma'] = prices['adj_close'].rolling(window=200).mean()

# metrics
metrics = pd.read_sql_query("""
SELECT * FROM q.stock_metrics
""", con=conn)
metrics['dated'] = pd.to_datetime(metrics['dated'])

/tmp/ipykernel_6718/1949611661.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  prices = pd.read_sql_query("""
/tmp/ipykernel_6718/1949611661.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  metrics = pd.read_sql_query("""

In [6]:
def prices(ticker, title):
    query = f"SELECT * FROM q.stock_prices WHERE ticker = '{ticker}' AND title = '{title}'"
    prices = pd.read_sql_query(query, con=conn)
    prices['dated'] = pd.to_datetime(prices['dated'])
    prices['log'] = np.log2(prices['adj_close'])
    prices['pct'] = prices['adj_close'].pct_change() * 100
    prices['volume_ma'] = prices['volume'].rolling(window=20).mean()
    prices['50_ema'] = prices['adj_close'].ewm(span=50, adjust=False).mean()
    prices['200_sma'] = prices['adj_close'].rolling(window=200).mean()

    return prices

def metrics(ticker, title):
    query = f"SELECT * FROM q.stock_metrics WHERE ticker = '{ticker}' AND title = '{title}'"
    metrics = pd.read_sql_query(query, con=conn)
    metrics['dated'] = pd.to_datetime(metrics['dated'])

    return metrics

In [7]:
prices("NVDA", "NVIDIA CORP")

/tmp/ipykernel_6718/162690254.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  prices = pd.read_sql_query(query, con=conn)

,dated,ticker,title,opening,high,low,closing,adj_close,volume,log,pct,volume_ma,50_ema,200_sma
0,2021-10-18,NVDA,NVIDIA CORP,21.749001,22.291000,21.643999,22.222000,22.183916,189494000,4.471442,NaN,NaN,22.183916,NaN
1,2021-10-19,NVDA,NVIDIA CORP,22.275999,22.379000,22.037001,22.290001,22.251799,161473000,4.475850,0.305999,NaN,22.186578,NaN
2,2021-10-20,NVDA,NVIDIA CORP,22.305000,22.433001,21.982000,22.103001,22.065119,146276000,4.463696,-0.838943,NaN,22.181815,NaN
3,2021-10-21,NVDA,NVIDIA CORP,22.097000,22.711000,22.083000,22.691999,22.653109,187590000,4.501637,2.664793,NaN,22.200297,NaN
4,2021-10-22,NVDA,NVIDIA CORP,22.823000,23.129999,22.561001,22.726000,22.687054,249384000,4.503797,0.149847,NaN,22.219386,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,2024-10-10,NVDA,NVIDIA CORP,131.910004,135.000000,131.000000,134.809998,134.809998,242311300,7.074784,1.628348,2.758295e+08,119.677221,97.788771
750,2024-10-11,NVDA,NVIDIA CORP,134.009995,135.779999,133.660004,134.800003,134.800003,170209500,7.074677,-0.007414,2.724221e+08,120.270271,98.216428
751,2024-10-14,NVDA,NVIDIA CORP,136.470001,139.600006,136.300003,138.070007,138.070007,232347700,7.109256,2.425819,2.716008e+08,120.968300,98.659746
752,2024-10-15,NVDA,NVIDIA CORP,137.869995,138.570007,128.740005,131.600006,131.600006,376656800,7.040016,-4.686029,2.788374e+08,121.385230,99.070190
753,2024-10-16,NVDA,NVIDIA CORP,133.955002,135.690002,131.580002,135.669998,135.669998,166408143,7.083958,3.092699,2.716419e+08,121.945417,99.500983

In [8]:
metrics("NVDA", "NVIDIA CORP")

/tmp/ipykernel_6718/162690254.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  metrics = pd.read_sql_query(query, con=conn)

,dated,ticker,title,metric,val
0,2023-04-30,NVDA,NVIDIA CORP,AssetsCurrent,2.488300e+10
1,2023-07-30,NVDA,NVIDIA CORP,AssetsCurrent,2.879700e+10
2,2009-08-17,NVDA,NVIDIA CORP,EntityCommonStockSharesOutstanding,5.478000e+08
3,2009-11-17,NVDA,NVIDIA CORP,EntityCommonStockSharesOutstanding,5.549000e+08
4,2010-03-10,NVDA,NVIDIA CORP,EntityCommonStockSharesOutstanding,5.665000e+08
...,...,...,...,...,...
23919,2013-01-27,NVDA,NVIDIA CORP,OtherNonrecurringExpense,2.012700e+07
23920,2014-01-26,NVDA,NVIDIA CORP,OtherNonrecurringExpense,3.800000e+04
23921,2014-01-26,NVDA,NVIDIA CORP,OtherNonrecurringExpense,3.800000e+04
23922,2015-01-25,NVDA,NVIDIA CORP,OtherNonrecurringExpense,0.000000e+00
23923,2024-07-28,NVDA,NVIDIA CORP,StockRepurchaseProgramAuthorizedAmount1,7.500000e+09