In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import os

In [7]:
df = requests.get("http://admin:password@localhost:5984/stock/us_index").json()
df = pd.json_normalize(df["data"])
df

          cik_str ticker                   title
0      0000320193   AAPL              Apple Inc.
1      0000789019   MSFT          MICROSOFT CORP
2      0001045810   NVDA             NVIDIA CORP
3      0001652044  GOOGL           Alphabet Inc.
4      0001018724   AMZN          AMAZON COM INC
...           ...    ...                     ...
10225  0000927971   SHNY  BANK OF MONTREAL /CAN/
10226  0000927971   GDXU  BANK OF MONTREAL /CAN/
10227  0000927971   NRGD  BANK OF MONTREAL /CAN/
10228  0000927971   NRGU  BANK OF MONTREAL /CAN/
10229  0000927971   OILD  BANK OF MONTREAL /CAN/

[10230 rows x 3 columns]